In [72]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.cluster import KMeans
from scipy.cluster.vq import whiten
from collections import Counter


# read data
df = pd.read_csv('data/treesna_tree_data.csv')
# use coordinates
features = np.array(df.iloc[:, [1,2]])
# normalize features
features = whiten(features)

# fit k-means
# specify k=8 (8 clusters)
cls = KMeans(n_clusters=8)
cls.fit(features)



# cluster centers
centers = pd.DataFrame(cls.cluster_centers_, columns=('latitude', 'longitude'))


# count samples in each class
counts = Counter(cls.predict(features))
print('Samples in each class: %s' % counts)


# attach class labels and counts to centers
centers['label'] = counts.keys()
centers['counts'] = counts.values()

centers

Samples in each class: Counter({6: 921, 0: 401, 3: 211, 4: 18, 1: 18, 5: 13, 2: 3, 7: 1})

   latitude  longitude  label  counts
0  6.529925  -7.716669      0     401
1 -0.750776  -6.716463      6     921
2  4.285379  10.474597      3     211
3  7.847267  -6.809546      4      18
4  8.152846 -11.004380      5      13
5  3.817913 -10.082870      1      18
6  7.072590  -7.658361      2       3
7  9.796891   0.117415      7       1

In [73]:
df

                  title   latitude  longitude
0                 Other  35.948186 -83.940666
1                 Other  35.948158 -83.940626
2                 Other  35.948158 -83.940626
3                 Other  35.947776 -83.942007
4                 Other  35.948171 -83.941696
5                 Other  35.948327 -83.941098
6                 Other  38.037870 -84.483253
7                 Other  38.032585 -84.500809
8                 Other  38.032533 -84.499954
9                 Other  38.032967 -84.504537
10                Other  38.033013 -84.504576
11                Other  38.033013 -84.504576
12                Other  38.032638 -84.504976
13                Other  37.572253 -84.290713
14              Hemlock  37.572306 -84.290505
15                Other  37.572263 -84.290715
16            White Oak  37.572532 -84.291263
17            White Oak  37.572546 -84.291236
18            White Oak  37.572546 -84.291236
19              Hemlock  37.076925 -82.997113
20              Hemlock  37.076925 -82.997113
21                Other  35.948184 -83.940610
22            White Oak  37.077217 -82.999209
23                Other  37.076675 -82.997979
24              Hemlock  37.076720 -82.996968
25                Other  37.078528 -82.994682
26    American Chestnut  37.077252 -82.999281
27                Other  37.077265 -82.999329
28              Hemlock  37.078007 -82.994072
29                Other  37.076675 -82.997979
...                 ...        ...        ...
1556  American Chestnut  36.686760 -81.719216
1557  American Chestnut  36.686538 -81.719138
1558                Ash  37.833749 -84.747575
1559  American Chestnut  35.064078 -84.500490
1560  American Chestnut  35.125258 -84.618116
1561  American Chestnut  35.125010 -84.617744
1562  American Chestnut  35.174278 -84.559150
1563  American Chestnut  35.174283 -84.559196
1564  American Chestnut  35.207135 -84.337318
1565  American Chestnut  35.207131 -84.337347
1566  American Chestnut  35.207087 -84.337329
1567  American Chestnut  35.207100 -84.337187
1568  American Chestnut  35.137264 -84.851688
1569  American Chestnut  35.064825 -84.500650
1570  American Chestnut  35.115050 -84.613989
1571  American Chestnut  35.174187 -84.587366
1572  American Chestnut  35.174229 -84.559046
1573  American Chestnut  35.174229 -84.559046
1574  American Chestnut  35.207177 -84.337435
1575  American Chestnut  35.207084 -84.337408
1576  American Chestnut  35.206995 -84.337488
1577  American Chestnut  35.067208 -84.497301
1578  American Chestnut  35.065197 -84.500435
1579  American Chestnut  35.125587 -84.617634
1580  American Chestnut  35.125733 -84.617793
1581  American Chestnut  35.174658 -84.558796
1582  American Chestnut  35.207097 -84.337340
1583  American Chestnut  35.207097 -84.337340
1584  American Chestnut  35.207136 -84.337255
1585  American Chestnut  35.203549 -84.325789

[1586 rows x 3 columns]